<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>controller.registerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>startBookingServlet</servlet-name>
        <servlet-class>controller.startBookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>startBookingServlet</servlet-name>
        <url-pattern>/startBookingServlet</url-pattern>
    </servlet-mapping>

    <servlet><servlet-name>UserViewServlet</servlet-name><servlet-class>controller.UserViewServlet</servlet-class></servlet>
    <servlet><servlet-name>UserDeleteServlet</servlet-name><servlet-class>controller.UserDeleteServlet</servlet-class></servlet>
    <servlet><servlet-name>UserInsertServlet</servlet-name><servlet-class>controller.UserInsertServlet</servlet-class></servlet>
    <servlet><servlet-name>UserUpdateServlet</servlet-name><servlet-class>controller.UserUpdateServlet</servlet-class></servlet>

    <servlet-mapping><servlet-name>UserViewServlet</servlet-name><url-pattern>/UserViewServlet</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>UserDeleteServlet</servlet-name><url-pattern>/UserDeleteServlet</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>UserInsertServlet</servlet-name><url-pattern>/UserInsertServlet</url-pattern></servlet-mapping>
    <servlet-mapping><servlet-name>UserUpdateServlet</servlet-name><url-pattern>/UserUpdateServlet</url-pattern></servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>